*.swp
*~
*.orig
*.bak
.DS_Store
.gitkeep
.idea/
.project
.rspec
.rvmrc
/.bundle
/db/*.sqlite3
/log/*.log
/tmp

/install
/internals/config.php

public/*
tags
zeus.json
/assets/bootstrap
*sublime-workspace
*sublime-project
